{{#each this}}
  <ul class='country-info__list'>
    <li><p><b>Capital: </b>{{capital}}</p></li>
    <li><p><b>Population: </b>{{population}}</p></li>
    <li><p><b>Languages: </b>{{Object.values.languages}}</p></li>
  </ul>
{{/each}}